---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getProjects } from "../lib/notion";
import { FaEnvelope, FaGithub } from "react-icons/fa/index.js";

const intro =
  "Software engineer driven by curiosity, passionate about minimizing redundancy using code to solve problems. I work on the front-end, back-end, and all stuff in between. Let's build something together.";
const email = "mailto:" + "contact@devinda.me";
const github = "https://github.com/" + "dca123";
const resume = "https://website.devinda.me/resume.pdf";
const allProjects = await getProjects("4f1fd603748b44d58615d782979d7a1e");
const projects = allProjects.slice(0, 3);
---

<Layout title="Devinda Senanayake">
  <main class="pt-7 pb-10">
    <div class="space-y-2">
      <h1 class="text-white font-light text-xl font-title">Hi,</h1>
      <h1 class="text-white font-light text-3xl font-title">I'm</h1>
      <h1
        class="font-black font-title text-transparent bg-clip-text bg-gradient-to-br from-orange-400 to-orange-700 text-5xl"
      >
        Devinda Senanayake
      </h1>
    </div>
    <div class="bg-slate-800 rounded p-4 mt-4">
      <p class="text-white">
        {intro}
      </p>
    </div>
    <div
      class="flex justify-between text-white mt-5 mx-4 items-center md:justify-start md:space-x-8 md:mx-0"
    >
      <a
        class="bg-gradient-to-br from-orange-400 to bg-orange-500 hover:bg-orange-600 p-2 rounded text-md"
        href={resume}
        target="_blank"
        aria-label="Resume"
      >
        Resume
      </a>
      <a
        class="hover:bg-gray-800 px-6 py-2 hover:rounded"
        href={email}
        target="_blank"
        aria-label="Email"
      >
        <FaEnvelope
          className="h-5 w-5 flex-no-shrink fill-current text-gray-100"
          fill="none"
        />
      </a>
      <a
        class="hover:bg-gray-800 px-6 py-2 hover:rounded"
        href={github}
        target="_blank"
        aria-label="Github"
      >
        <FaGithub
          className="h-5 w-5 flex-no-shrink fill-current text-gray-100"
          fill="none"
        />
      </a>
    </div>

    <hr class="h-px my-6 bg-gray-200 border-0 dark:bg-gray-700" />

    <h1 class="text-white font-normal text-xl mt-2 font-title tracking-wider">
      Stuff I've Done
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-4">
      {
        projects.map((project) => (
          <Card
            title={project.title}
            description={project.description}
            skills={project.skills}
            slug={project.slug}
            cover={project.cover}
          />
        ))
      }
    </div>
  </main>
</Layout>
