---
import Skill from "../../components/Skill.astro";
import Layout from "../../layouts/Layout.astro";
import { Content, extractContent } from "../../lib/notionExtracter";
import Notion from "../../components/Notion";
import { response } from "../../lib/notion";

export async function getStaticPaths() {
  const notionData = await response("361e85f3bef14f1aa4c8ba60ae4b4c88");
  // const notionData = await response("063279a74b4c44ceb1d08849a1b39068");
  const content = await extractContent(notionData);

  return [
    {
      params: {
        slug: "1",
      },
      props: {
        title: "1",
        // blocks: await response("361e85f3bef14f1aa4c8ba60ae4b4c88"),
        blocks: content,
      },
    },
  ];
}

export interface Props {
  title: string;
  blocks: Content;
}

const title = "This Website";
const date = "2021-09-01";
const githubLink = "https://www.github.com/dca123";
const skills = ["React", "Astro", "Tailwind", "Typescript"];
const { blocks } = Astro.props;
---

<Layout title={title + " | Devinda S"}>
  <div class="flex justify-between items-center mt-4">
    <h1 class="text-white text-xl font-title">{title}</h1>
    <div class="flex flex-col items-end">
      <p class="text-white font-light text-right font-title">{date}</p>
      <a href={githubLink} class="text-white font-light font-title">github</a>
    </div>
  </div>

  <img
    src="https://picsum.photos/600"
    alt="placeholder"
    class="object-cover max-h-64 min-w-full rounded rounded-b-none mt-6"
  />

  <div class="flex space-x-2 mt-4">
    {skills.map((skill) => <Skill title={skill} size="medium" />)}
  </div>

  <hr class="h-px my-6 bg-gray-200 border-0 dark:bg-gray-700" />

  <div class="space-y-2">
    <Notion blocks={blocks} />
  </div>
</Layout>
